#alerts-area
  height: 26px
  line-height: 26px
  text-align: center
  transition: 1s
  font-weight: bold
  width: 0
  min-width: 100%
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.Success
  background-color: green

.Failure
  background-color: red

.Info
  background-color: #3030df