.container
  position: relative

.event-time
  width: 14%

.event-source
  width: 8%
  color: #cef

.event-game-name
  width: 56%
  max-width: 0
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.event-game-listing
  width: 18%
  max-width: 0
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.pagination-part
  padding-left: .325rem
  position: absolute
  bottom: .5rem