.container
  position: relative

.col-game-name
  width: 62%
  max-width: 0
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.col-game-listing
  width: 30%
  max-width: 0
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.pagination-part
  padding-left: .325rem
  position: absolute
  bottom: .5rem