<div class="card text-white widget widget-wide ml-3 mb-3">
    <div class="card-body container">
        <h5 class="card-title">{{ 'dashboard.insights' | translate }}</h5>
        <div *ngIf="isTopTenMode()">
            <span class="badge badge-primary badge-size">Top Ten Launched</span>
            <a class="badge badge-dark badge-size badge-link" (click)="setLaunchTimesMode()">Launch Times</a>
            <div class="events-table">
                <table class="table table-sm text-white">
                    <tr *ngFor="let item of topTenList">
                        <td class="col-game-name" title="{{ item.game.name }}">{{ item.game.name }}</td>
                        <td class="col-game-listing" title="{{ item.game.listing }}">{{ item.game.listing }}</td>
                        <td>{{ item.count }}</td>
                    </tr>
                </table>
                <app-pagination class="pagination-part" [total]="total" [pageSize]="pageSize" (page)="getTopTenLaunchedGames($event)"
                    hideFirstAndLastNav=true *ngIf="topTenList.length > 0"></app-pagination>
            </div>
        </div>
        <div *ngIf="isLaunchTimesMode()">
            <a class="badge badge-dark badge-size badge-link" (click)="setTopTenMode()">Top Ten Launched</a>
            <span class="badge badge-primary badge-size">Launch Times</span>
            <div>Graph...</div>
        </div>
    </div>
</div>