ul.b
  list-style-type: square

#data-part
  display: flex
  flex-direction: column
  height: 100%

#data-part-top
  height: 100%
  overflow-y: scroll
  scroll-behavior: smooth
  width: 38rem

#data-part-bottom
  height: 13rem
  margin-top: auto