ul.b
  list-style-type: square

#help-area
  display: flex
  flex-direction: column
  height: 100%

#data-part
  overflow-y: scroll
  scroll-behavior: smooth
  width: 44rem
  margin-bottom: 1rem

.versions
  color: #cef