<form id="settingsForm" #settingsForm="ngForm" (ngSubmit)="submitSettings(settingsForm.form)">
  <div class="form-group">
    <label for="inputOpenmsxPath">openMSX Path</label>
    <div class="input-group">
      <input type="text" class="form-control form-control-sm col-sm-6" name="openmsx-path" [(ngModel)]="openmsxPath"
        placement="bottom" ngbTooltip="Folder where openmsx is" />
      <app-fs-chooser directoryMode=true label="Browse" (chosen)="updateControl('openmsx-path', $event)">
      </app-fs-chooser>
    </div>
  </div>

  <div class="form-group">
    <label for="inputScreenshotsPath">Screenshots Path</label>
    <div class="input-group">
      <input type="text" class="form-control form-control-sm col-sm-6" name="screenshots-path" [(ngModel)]="screenshotsPath"
        placement="bottom" ngbTooltip="Folder where optional screenshots are" />
      <app-fs-chooser directoryMode=true label="Browse" (chosen)="updateControl('screenshots-path', $event)">
      </app-fs-chooser>
    </div>
  </div>

  <div class="form-group">
    <label for="inputGameMusicPath">Game Music Path</label>
    <div class="input-group">
      <input type="text" class="form-control form-control-sm col-sm-6" name="game-music-path" [(ngModel)]="gameMusicPath"
        placement="bottom" ngbTooltip="Folder where optional game music is" />
      <app-fs-chooser directoryMode=true label="Browse" (chosen)="updateControl('game-music-path', $event)">
      </app-fs-chooser>
    </div>
  </div>

  <div class="form-group">
    <label for="inputDefaultListing" placement="right" ngbTooltip="Listing to show when Novo Player starts">Default Listing</label>
    <span *ngIf="listings.length == 0">
      : No listings defined yet
    </span>
    <div>
      <app-drop-down [list]="listings" [selectedItem]="defaultListing" defaultLabel="Select a listing"
        (selection)="updateField('defaultListing', $event)"></app-drop-down>
    </div>
  </div>

  <div class="form-group">
    <label for="inputWebMSXPath">WebMSX Path</label>
    <div class="input-group">
      <input type="text" class="form-control form-control-sm col-sm-6" name="webmsx-path" [(ngModel)]="webmsxPath"
        placement="bottom" ngbTooltip="Folder where offline WebMSX is. Use the embedded folder within release/stable" />
      <app-fs-chooser directoryMode=true label="Browse" (chosen)="updateControl('webmsx-path', $event)">
      </app-fs-chooser>
    </div>
  </div>

  <button class="btn btn-primary btn-sm" [disabled]="submitDisabled">Save</button>
</form>