<form id="settingsForm" #settingsForm="ngForm" (ngSubmit)="submitSettings(settingsForm.form)">
  <div class="form-group">
    <label for="inputOpenmsxPath">openMSX Path</label>
    <div class="input-group">
      <input type="text" class="form-control form-control-sm" name="openmsx-path" [(ngModel)]="openmsxPath" />
      <app-fs-chooser directory-mode=true label="Browse" (onChosen)="updateControl('openmsx-path', $event)">
      </app-fs-chooser>
    </div>
  </div>

  <div class="form-group">
    <label for="inputScreenshotsPath">Screenshots Path</label>
    <div class="input-group">
      <input type="text" class="form-control form-control-sm" name="screenshots-path" [(ngModel)]="screenshotsPath" />
      <app-fs-chooser directory-mode=true label="Browse" (onChosen)="updateControl('screenshots-path', $event)">
      </app-fs-chooser>
    </div>
  </div>

  <div class="form-group">
    <label for="inputGameMusicPath">Game Music Path</label>
    <div class="input-group">
      <input type="text" class="form-control form-control-sm" name="game-music-path" [(ngModel)]="gameMusicPath" />
      <app-fs-chooser directory-mode=true label="Browse" (onChosen)="updateControl('game-music-path', $event)">
      </app-fs-chooser>
    </div>
  </div>

  <div class="form-group">
    <label for="inputDefaultListing">Default Listing</label>
    <span *ngIf="listings.length == 0">
      : No listings defined yet
    </span>
    <div>
      <app-drop-down [list]="listings" [selected-item]="defaultListing" default-label="Select a listing"
        (selection)="updateField('defaultListing', $event)"></app-drop-down>
    </div>
  </div>

  <div class="form-group">
    <label for="inputWebMSXPath">WebMSX Path</label>
    <div class="input-group">
      <input type="text" class="form-control form-control-sm" name="webmsx-path" [(ngModel)]="webmsxPath" />
      <app-fs-chooser directory-mode=true label="Browse" (onChosen)="updateControl('webmsx-path', $event)">
      </app-fs-chooser>
    </div>
  </div>

  <button class="btn btn-primary" [disabled]="submitDisabled">Save</button>
</form>