<form id="settingsForm" #settingsForm="ngForm" (ngSubmit)="submitSettings(settingsForm.form)">

  <div class="form-group">
    <label for="inputOpenmsxPath">openMSX Path</label>
    <div class="input-group">
      <input type="text" id="inputOpenmsxPath" class="form-control form-control-sm" name="openmsx-path" [(ngModel)]="openmsxPath" />
      <app-fs-chooser directory-mode=true (onChosen)="updateControl('openmsx-path', $event)"></app-fs-chooser>
    </div>
  </div>

  <div class="form-group">
    <label for="inputScreenshotsPath">Screenshots Path</label>
    <div class="input-group">
      <input type="text" id="inputScreenshotsPath" class="form-control form-control-sm" name="screenshots-path" [(ngModel)]="screenshotsPath" />
      <app-fs-chooser directory-mode=true (onChosen)="updateControl('screenshots-path', $event)"></app-fs-chooser>
    </div>
  </div>

  <button class="btn btn-primary" [disabled]="submitDisabled">Save</button>
</form>
