<div *ngIf="list && list.length > 0" ngbDropdown class="d-inline-block" (keyup)="processKeyup($event)">
    <button class="btn btn-secondary btn-sm" ngbDropdownToggle type="button">
        <span *ngIf="!selectedItem">{{ defaultLabel }}</span>
        <span *ngIf="selectedItem">{{ selectedItem }}</span>
    </button>
    <div ngbDropdownMenu class="dropdown-scroll">
        <button *ngFor="let item of list" ngbDropdownItem type="button"
            (click)="handleSelection(item)" #dropDownItem>
            {{ item }}
        </button>
    </div>
    <div *ngIf="resetButton && selectedItem" class="d-inline ml-2">
        <button class="btn btn-secondary btn-sm" type="button" (click)="resetSelection()">
          Reset
        </button>
    </div>
</div>
