<div class="d-inline-block ml-2">
    <img src="assets/images/music/play-6-16.png" [class]="playButton" (click)="play()">
    <img src="assets/images/music/pause-16.png" [class]="pauseButton" (click)="pause()">
    <canvas id="progress-bar" [width]="progressBarWidth" [height]="progressBarHeight" #progressBar></canvas>
    <span class="ml-2">{{ elapsedTime }} / {{ totalTime }}</span>
    <span class="ml-2">{{ title }}</span>
    <audio id="audio" controls src="" type="audio/mpeg" #audioPlayer (loadeddata)="setTotalTime()" (timeupdate)="updateProgress()" (ended)="reset()"></audio>
</div>