#audio
  display: none

.active
  display: inline
  transform: scale(0.9)
  transition: 0.1s

.active:hover
  cursor: pointer
  transform: scale(1.0)

.hidden
  display: none

#progress-bar
  margin-left: 6px

.alignment
  vertical-align: bottom

#music-title
  max-width: 8rem
  white-space: nowrap
  overflow-x: hidden
  text-overflow: ellipsis
