<div class="card text-white widget widget-wide ml-3 mb-3">
    <div class="card-body">
        <h5 class="card-title">Games Running on openMSX</h5>
        <div *ngIf="launchActivities.length == 0">None</div>
        <div class="activity-table">
            <table class="table table-sm text-white" *ngIf="launchActivities.length > 0">
                <tr *ngFor="let activity of launchActivities">
                    <td class="activity-game-name" title="{{ activity.game.name }}">{{ activity.game.name }}</td>
                    <td class="activity-game-listing" title="{{ activity.game.listing }}">{{ activity.game.listing }}</td>
                    <td>
                        <app-elapsed-time [startTime]="activity.time"></app-elapsed-time>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>