<div class="card text-white widget widget-wide ml-3 mb-3">
    <div class="card-body">
        <h5 class="card-title">{{ 'dashboard.gamesrunningonopenmsx' | translate }}</h5>
        <div *ngIf="launchActivities.length == 0">{{ 'common.none' | translate }}</div>
        <div class="activity-table">
            <table class="table table-sm text-white" *ngIf="launchActivities.length > 0">
                <tr *ngFor="let activity of launchActivities">
                    <td class="activity-game-name" title="{{ activity.game.name }}">{{ activity.game.name }}</td>
                    <td class="activity-game-listing" title="{{ activity.game.listing }}">{{ activity.game.listing }}
                    </td>
                    <td>
                        <app-elapsed-time [startTime]="activity.time"></app-elapsed-time>
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary btn-sm dropdown-toggle openmsx-connect" data-toggle="dropdown">
                                ● ● ●
                            </button>
                            <div class="dropdown-menu dropdown-menu-right openmsx-connect-dropdown-scroll">
                                <button ngbDropdownItem type="button" (click)="resetMachine(activity.pid)">
                                    {{ 'common.reset' | translate }}
                                </button>
                                <ng-container *ngIf="fileGroupMap.get(activity.pid).length > 1">
                                    <h6 class="dropdown-header">{{ 'dashboard.switchdisks' | translate }}:</h6>
                                    <button *ngFor="let medium of fileGroupMap.get(activity.pid)" ngbDropdownItem type="button"
                                        (click)="switchDisk(activity.pid, medium)">
                                        <div class="ml-2">{{ getMediumDisplayName(medium) }}</div>
                                    </button>
                                </ng-container>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>