.btn:focus
  outline: none
  box-shadow: none

.entire-area
  display: flex
  height: 100%

.area-on-the-left
  flex: 0 0 32rem
  display: flex
  flex-direction: column

.area-on-the-right
  flex: 1
  display: flex
  justify-content: center
  padding-top: 4rem

.table-buttons
  margin-bottom: .25rem

.inline-dropdown
  display: inline-block
  margin-right: .25rem

#search-button
  float: right

#search-button button:after
  display: none

#games-table
  table
    font-size: .875rem
    th
      background-color: grey
      padding-left: .45rem
      padding-top: .25rem
      padding-bottom: .25rem
      font-weight: normal

#games-table-data:focus
  outline: none

#games-table-data
  height: 86vh
  width: 41.875rem
  overflow-y: auto
  scroll-behavior: smooth
  table
    font-size: .875rem
    tr
      transition: 0.1s
    tr:hover
      background-color: #3e3e3e
      cursor: pointer
    tr:hover td span img
      opacity: 1
      transform: scale(0.75)
    tr td span img
      opacity: 0
      transition: 0.1s
    tr td span img:hover
      transform: scale(1.0)
    th
      background-color: #333
    td
      padding-left: .3125rem
      padding-top: .1875rem
      padding-bottom: .1875rem

#gameNameEditInput
  width: 100%
  height: 1.25rem
  box-sizing: border-box

.medium-img
  padding: 0 0 .1875rem .1875rem !important

.name-title
  width: 26.875rem

.name
  width: 25.625rem
  max-width: 25.625rem
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.company-title, .company
  width: 9.375rem
  max-width: 9.375rem
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
.year-title
  width: 5.625rem
.year
  width: 2.625rem

.screenshot
  position: relative
  height: 240px
  width: 272px
  display: inline-block
  margin: .625rem

.screenshot img
  position: absolute
  top: 0
  left: 0
  -webkit-transition: opacity 0.7s ease-in-out

@media screen and (max-width: 83.5rem)
  #second-screenshot
    display: none
  .area-on-the-right
    justify-content: left

.additional-info
  padding-left: 1.875rem

.additional-info button
  margin-bottom: .3125rem

.game-detail-name
  width: 9.125rem
  height: 1.5rem
  vertical-align: top

.game-detail-value, .game-detail-value div
  max-width: 22.5rem
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  color: #cef

.game-detail-value a
  color: #cef

#game-detail-country img
  padding-bottom: 2px

#game-detail-generations img
  padding-right: 5px

.long-names
  direction: rtl
  text-align: left

.transparent
  opacity: 0

.selected-game, .selected-game th
  background-color: #555 !important