.btn:focus
  outline: none
  box-shadow: none

.entire-area
  display: flex
  height: 100%

.area-on-the-left
  flex: 0 0 500px
  display: flex
  flex-direction: column

.area-on-the-right
  flex: 1
  display: flex
  justify-content: center
  padding-top: 50px

.table-buttons
  margin-bottom: 4px

.listings-dropdown
  display: inline-block

#games-table
  table
    font-size: 14px
    th
      background-color: grey
      padding-left: 5px
      padding-top: 3px
      padding-bottom: 3px
      text-transform: uppercase
      font-weight: normal

#games-table-data:focus
  outline: none

#games-table-data
  height: 86vh
  width: 670px
  overflow-y: auto
  scroll-behavior: smooth
  table
    font-size: 14px
    tr
      transition: 0.1s
    tr:hover
      background-color: #444
      cursor: pointer
    tr:hover td span img
      opacity: 1
      transform: scale(0.75)
    tr td span img
      opacity: 0
      transition: 0.1s
    tr td span img:hover
      transform: scale(1.0)
    th
      background-color: #333
    td
      padding-left: 5px
      padding-top: 3px
      padding-bottom: 3px

.medium-img
  padding: 0 0 3px 3px !important

.name-title
  width: 430px

.name
  width: 410px
  max-width: 410px
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.company-title, .company
  width: 150px
  max-width: 150px
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
.year-title
  width: 90px
.year
  width: 42px

div::-webkit-scrollbar
  width: 8px

div::-webkit-scrollbar-track
  background: transparent

div::-webkit-scrollbar-thumb
  background-color: #444
  border-radius: 20px
  border: 1px solid transparent

.screenshot
  position: relative
  height: 240px
  width: 272px
  display: inline-block
  margin: 10px

.screenshot img
  position: absolute
  top: 0
  left: 0
  -webkit-transition: opacity 0.7s ease-in-out

.additional-info
  padding-left: 30px

.additional-info button
  margin-bottom: 5px

.game-detail-name
  width: 145px
  height: 23px
  vertical-align: top

.game-detail-value, .game-detail-value div
  max-width: 360px
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  color: #cef

.game-detail-value a
  color: #cef

#game-detail-country img
  padding-bottom: 2px

#game-detail-generations img
  padding-right: 5px

.long-names
  direction: rtl
  text-align: left

.transparent
  opacity: 0

.selected-game, .selected-game th
  background-color: #555 !important