<div class="entire-area">
  <div class="area-on-the-left">
    <div>
      <button (click)="scanForGames()">Scan</button>
    </div>
    <div id="games-table-header">
      <table *ngIf="games">
        <tr>
          <th class="name-title">Name</th>
          <th class="company-title">Company</th>
          <th class="year-title">Year</th>
        </tr>
      </table>
      <div id="games-table-data">
        <table>
          <tr *ngFor="let game of games | async" (click)="showInfo(game)">
            <th><img src="{{ getGameMedium(game) }}"/></th>
            <td class="name">{{ game.name }}</td>
            <td class="company">{{ game.company }}</td>
            <td class="year">{{ game.year }}</td>
            <td><img src="assets/operations/ic_play_arrow_white_18dp.png" (click)="launch(game)"></td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="area-on-the-right">
    <div>
      <div class="screenshot">
        <img src="{{ screenshot_a_1.screenshot1 }}" class="{{ transparent1 }}">
        <img src="{{ screenshot_a_2.screenshot1 }}" class="{{ transparent2 }}">
      </div>

      <div class="screenshot">
        <img src="{{ screenshot_b_1.screenshot2 }}" class="{{ transparent1 }}">
        <img src="{{ screenshot_b_2.screenshot2 }}" class="{{ transparent2 }}">
      </div>

      <div class="additional-info">
        <table *ngIf="selectedGame">
          <tr *ngFor="let detail of getFilteredGameDetails()">
            <td class="game-detail-name">{{ detail.name }}</td>
            <td>{{ selectedGame[detail.value] }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>