.btn:focus
  outline: none
  box-shadow: none

.entire-area
  display: flex
  height: 100%

.area-on-the-left
  flex: 0 0 32rem
  display: flex
  flex-direction: column
  height: 100%

.area-on-the-right
  flex: 1
  display: flex
  justify-content: center
  padding-top: 4rem

.table-buttons
  margin-bottom: .25rem

.inline-dropdown
  display: inline-block
  margin-right: .25rem

.action-button
  float: right

.action-button div button:after
  display: none

.action-button img
  pointer-events: none

.favorite-name
  font-size: .875rem

.favorite-listing
  font-size: .75rem

#games-table
  display: flex
  flex-direction: column
  height: 100%
  table
    font-size: .875rem
    th
      background-color: grey
      padding-left: .45rem
      padding-top: .25rem
      padding-bottom: .25rem
      font-weight: normal

#games-table-data:focus
  outline: none

.audio-hidden
  display: none

.audio-shown
  display: inline-block

#games-table-data
  height: 100%
  width: 41.875rem
  overflow-y: auto
  scroll-behavior: smooth
  margin-bottom: 4rem
  table
    font-size: .875rem
    tr
      transition: 0.1s
    tr:hover
      background-color: #3e3e3e
      cursor: pointer
    tr:hover td span img
      opacity: 1
      transform: scale(0.75)
    tr td span img
      opacity: 0
      transition: 0.1s
    tr td span img:hover
      transform: scale(1.0)
    th
      background-color: #333
    td
      padding-left: .3125rem
      padding-top: .1875rem
      padding-bottom: .1875rem

#gameNameEditInput
  width: 100%
  height: 1.25rem
  box-sizing: border-box

.medium-img
  padding: 0 0 .1875rem .1875rem !important

.name-title
  width: 26.875rem

.name
  width: 25.625rem
  max-width: 25.625rem
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.company-title, .company
  width: 9.375rem
  max-width: 9.375rem
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
.year-title
  width: 5.625rem
.year
  width: 2.625rem

.screenshot
  position: relative
  height: 240px
  width: 272px
  display: inline-block
  margin: .625rem

.screenshot img
  position: absolute
  top: 0
  left: 0
  pointer-events: none
  -webkit-transition: opacity 0.7s ease-in-out

@media screen and (max-width: 83.5rem)
  #second-screenshot
    display: none
  .area-on-the-right
    justify-content: left

.additional-info
  padding-left: 1.625rem

.transparent
  opacity: 0

.selected-game, .selected-game th
  background-color: #555 !important

#drag-area
  display: none

.drag-over
  display: block !important
  position: fixed
  z-index: 1
  left: 0
  top: 0
  width: 100%
  height: 100%
  margin-top: 32px
  margin-left: 36px
  background-color: rgba(0,0,0,.5)

.drag-over img
  display: block
  margin-top: 17rem
  margin-left: auto
  margin-right: auto

.drag-over div
  margin-top: .5rem
  text-align: center
