<div id="scan-parameters-component" class="scan-parameters">
  <div class="scan-parameters-content">
    <div class="scan-title-bar">
      <div class="scan-title">Scan Parameters</div>
      <div (click)="close()" class="scan-close">&times;</div>
    </div>
    <form id="scanParametersForm" #scanParametersForm="ngForm" (ngSubmit)="submitParameters(scanParametersForm.form)">
      <div class="parameters-part">
        <div class="add-buttons">
          <app-fs-chooser directory-mode=true multi-selections=true label="+Directory" (onChosen)="items = items.concat($event)"></app-fs-chooser>
        </div>
        <div class="add-buttons">
          <app-fs-chooser label="+File" multi-selections=true (onChosen)="items = items.concat($event)"></app-fs-chooser>
        </div>
        <div class="files-and-directories-table">
          <ng-container *ngFor="let item of items; let i = index">
            <div class="table-row">
              <div class="table-item">{{ item }}</div>
              <div class="table-item-delete" (click)="removeItem(i)">&times;</div>
            </div>
          </ng-container>
        </div>
        <div class="machine">
          <label>Machine: </label>
          <select (change)="selectedMachine = $event.target.value">
            <option *ngFor="let machine of machines" value="{{ machine }}">
              {{ machine }}
            </option>
          </select>
        </div>
        <button class="btn btn-primary" [disabled]="items.length == 0">Start</button>
      </div>
    </form>
  </div>
</div>