.parameters-part
  padding: 10px

.add-buttons
  padding-right: 10px
  display: inline

.files-and-directories-table
  width: 530px
  height: 150px
  white-space: nowrap
  overflow: auto
  border: 1px solid #444

.table-row
  width: 515px

.table-item
  width: 490px
  max-width: 490px
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  display: inline-block
  direction: rtl
  text-align: left

.table-item-delete
  display: inline
  float: right
  padding-right: 4px
  padding-left: 4px

.table-item-delete:hover
  background-color: #cc1515
  cursor: pointer

.fields tr td
  padding: 6px 0 5px 0

.listings-dropdown
  width: 250px