.widget
  display: inline-block;
  border-style: solid;
  border-color: grey;

.widget table tr td
  padding: 3px 8px 3px 8px;

.stats-name
  background-color: #444;

.stats-value
  background-color: #455;