.widget
  background-color: #454545
  height: 17rem

.widget-narrow
  width: 18rem

.widget-mid-size
  width: 27rem

.widget-wide
  width: 36rem

.scrollable
  max-height:100%
  padding-bottom: 2rem
  overflow-y: auto
  scroll-behavior: smooth