<div class="row">
  <div class="card text-white widget widget-narrow ml-3 mb-3">
    <div class="card-body">
      <h5 class="card-title">Stats</h5>
      <table class="table table-sm text-white">
        <tr *ngFor="let item of stats">
          <td>{{ item.name }}</td>
          <td>{{ item.value }}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="card text-white widget widget-mid-size ml-3 mb-3">
    <div *ngIf="series.length > 0" class="card-body">
      <h5 class="card-title">Media</h5>
      <div id="media-chart">
        <apx-chart [series]="series" [chart]="chart" [labels]="labels" [legend]="legend" [stroke]="stroke" #chartRef></apx-chart>
      </div>
    </div>
  </div>
  <div class="card text-white widget widget-wide ml-3 mb-3">
    <div class="card-body">
      <h5 class="card-title">Running Games</h5>
      <div *ngIf="launchActivities.length == 0">None</div>
      <div class="activity-table">
        <table class="table table-sm text-white" *ngIf="launchActivities.length > 0">
          <tr *ngFor="let activity of launchActivities">
            <td class="activity-game-name">{{ activity.game.name }}</td>
            <td class="activity-game-listing">{{ activity.game.listing }}</td>
            <td><app-elapsed-time [startTime]="activity.time"></app-elapsed-time></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>