<div class="row">
  <div class="card text-white bg-secondary ml-3" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Stats</h5>
      <table class="table table-sm text-white">
        <tr *ngFor="let item of stats">
          <td>{{ item.name }}</td>
          <td>{{ item.value }}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="card text-white bg-secondary ml-3" style="width: 36rem;">
    <div class="card-body">
      <h5 class="card-title">Running Games</h5>
      <div *ngIf="launchActivities.length == 0">None</div>
      <table class="table table-sm text-white" *ngIf="launchActivities.length > 0">
        <tr *ngFor="let activity of launchActivities">
          <td class="activity-game-name">{{ activity.game.name }}</td>
          <td>{{ activity.game.listing }}</td>
          <td>{{ getTimeDisplay(activity.time) }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>